{% extends 'app/base.html' %}
{% load static %}
{% block title %}Registered Events{% endblock title %}
{% block main-content %}

<div class="container my-5">
 <div class="row">
  <h1 class="text-center mb-5">Your Registered Events</h1>
  <div class="col-sm-8">
  <div class="card">
   <div class="card-body">
    <h3>Events</h3>
    {% for m in cart %}
    <hr>
    <div class="row">
     <div class="col-sm-3 text-center align-self-center"><img src="{{m.product.product_image.url}}" alt="" srcset="" class="img-fluid img-thumbnail shadow-sm" height="150" width="150"> </div>
     <div class="col-sm-9">
      <div>
       <h5>{{m.product.title}}</h5>
       <p class="mb-2 text-muted small">{{m.product.dateofevent}}</p>
       <p class="mb-2 text-muted small">{{m.product.mini_description}}</p>
       </div>
       <div class="d-flex justify-content-between">
       </div>
      </div>
     </div>
    </div>
    {% endfor %}

   </div>
   </div>
  </div>
  
 </div>
</div>

{% endblock main-content %}
